#disable_html_escaping()
#if (! ${displayParameters.excel_view})
    <div style="white-space: nowrap;">
    <img src="${baseurl}/images/border/spacer.gif" />
     #if ($sorter && $sorter.field == $customField.name && $isBeingUsed)
        #if ($sorter.order == 'ASC')
            #set ($func1 = 'moveUp')
            #set ($func2 = 'moveDown')
        #else
            #set ($func1 = 'moveDown')
            #set ($func2 = 'moveUp')
        #end

        #if ($previousIssue || ! $firstPage)
            <a href="javascript:$func1('${customField.id}', '$issue.key', '$!previousIssue');"><img  src="${baseurl}/images/icons/up.gif" class="sortArrow" alt="Move Up"></a>
        #else
            <img src="${baseurl}/images/border/spacer.gif" class="sortArrow"/>
        #end
        #if ($nextIssue || ! $lastPage)
            <a href="javascript:$func2('${customField.id}', '$issue.key', '$!nextIssue');"><img  src="${baseurl}/images/icons/down.gif" class="sortArrow"  alt="Move Down"></a>
        #else
            <img src="${baseurl}/images/border/spacer.gif" class="sortArrow"/>
        #end
    #end
    #if ($isBeingUsed)
        <img src="${baseurl}/images/border/spacer.gif" />
        <a href="javascript:removeKey('${customField.id}', '$issue.key');"><img  src="${baseurl}/images/icons/delete2.png"  alt="Del" height="12px" width="12px"></a>
    #end
    </div>


#end
