#* @vtlvariable name="value" type="java.util.Collection<com.atlassian.jira.user.ApplicationUser>" *#
#disable_html_escaping()
#if ($value)
    #foreach ($singleValue in $value)
        <a class="nowrap user-hover" rel="$textutils.htmlEncode(${singleValue.name})" title="Filter current search request by issues that $textutils.htmlEncode(${singleValue.displayName}) participated in" href="${requestContext.baseUrl}/secure/IssueNavigator.jspa?addParams=true&${customField.id}=$urlcodec.encode(${singleValue.name})">$textutils.htmlEncode($singleValue.displayName)</a>#comma ($value)
    #end
#end