#disable_html_escaping()
#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)

<input type="checkbox" name="$customField.id" id="${customField.id}" value="true"
            #if ($value && $value == "true")checked="checked"#end
            > <label for="${customField.id}">Restrict to last commented by non-developers</label>

#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)